dialog {
  padding: 0; 
  border: none; 
  border-radius: 18px;
  background: transparent;
  outline: none; 
  max-width: 100vw;
  max-height: 100vh;
  color: var(--text-color);
  font-size: 24px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

.imgBig {
  width: 1500px;
  height: 950px;
}
