.d-none {
    display: none !important;
}

.login-container-wrapper {
    position: relative;
    display: inline-block;
}

#login {   
    position: absolute;
    top: 125px;
    right: 150px;
    background: var(--header-color);
    padding: 15px;
    border: none;
    border-radius: 8px;
    z-index: 1000;   
    gap: 8px;
    min-width: 200px;
    color: white;
}

.login-container {
    position: relative;
    display: flex;
    align-items: center;
}

#login {
    position: absolute;
    top: calc(100% + 35px);
    right: 0;
    background-color:var(--header-color);
    backdrop-filter: blur(10px);
    padding: 24px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}


.login-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-card h4 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.login-card input {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    padding: 10px 12px;
    color: white;
    outline: none;
    transition: border-color 0.2s;
}

.login-card input:focus {
    border-color: #3b82f6;
}

.login-card button {
    background-color: var(--background-color);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;    
    margin-top: 8px;
}

.login-card button:hover {
    background-color: #213d74cb;
}