:root {
  --background-color: #06171e;
  --header-color: #09212a;
  --text-color: white;
  --transform: calc(var(--base-scale) * 1.2);
}

@font-face {
  font-family: "fredoka";
  src: url(/assets/font/Fredoka-VariableFont_wdth\,wght.ttf);
}

body {
  font-family: "fredoka";
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

body:has(#picturesDialogOne[open]) {
  overflow: hidden;
}


.mw-1440px {
  max-width: 1440px;
}

header {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  height: 80px;
}

h1 {
  font-size: 56px;
  text-shadow: 7px 5px 9px #b3cebf;
  text-align: center;
  margin: 140px;
}

h2 {
  font-size: 36px;
  text-align: center;
  margin: 40px;
  text-shadow: 7px 5px 9px #b3cebf;
}

.size-8 {
  width: 32px;
  height: 32px;
  color: var(--text-color);
}



footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 6px;
  margin-top: 42px;
  background-color: var(--header-color);
  height: 80px;
  color: white;
  width: 100%;
}
