
:root{
    --background-color: #06171E;
    --header-color: #09212A;
    --text-color:white;
}


body{
background-color:var(--background-color);
color: var(--text-color);  
margin: 0;
}


header {
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    height: 80px;
}

h1 {
    text-align: center;
    margin: 140px;
}

h2 {
    text-align: center;
    margin: 40px;
}


.size-8 {
    width: 32px;
    height: 32px;
    color: var(--text-color);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}