:root {
  --background-color: #06171e;
  --header-color: #09212a;
  --text-color: white;
  --btn-color: #1c98be;
}

@font-face {
  font-family: "fredoka";
  src: url("../assets/font/Fredoka-VariableFont_wdth\,wght.ttf");
}

body {
  scroll-behavior: smooth;
  font-family: "fredoka";
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

body:has(#picturesDialogOne[open]) {
  overflow: hidden;
}

.mw-1440px {
  max-width: 1440px;
}

.a_12 {
  border-left: 2px solid white;
  height: 40px;
}

header {
  position: sticky;
  top: -20px;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  height: 80px;
}

.headerBar {
  display: flex;
  justify-content: space-between;
  height: 112px;
  padding-inline: 160px;
  align-items: center;
}

h1 {
  font-size: 56px;
  text-shadow: 7px 5px 9px #b3cebf;
  text-align: center;
  margin: 140px;
}

h2 {
  font-size: 36px;
  text-align: center;
  margin: 40px;
  text-shadow: 7px 5px 9px #b3cebf;
}

.size-8 {
  width: 32px;
  height: 32px;
  color: var(--text-color);
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 6px;
  margin-top: 42px;
  background-color: var(--header-color);
  height: 80px;
  color: white;
  width: 100%;
  align-content: center;
  flex-direction: row;
  font-size: 18px;
}

.footerLeft {
    display: flex;
    gap: 34px;
    padding-left: 60px;
    align-content: center;
    align-items: center;
}

.footerCenter {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footerCenter a {
  color: white;
  text-decoration: none;
  

}


.navFooter {
    display: flex;
    margin-right: 65px;
    padding: 12px;
    gap: 12px;
    
}

.f-w {
  filter: invert(1);
  transition: all 0.3s ease;
}

.f-w:hover,
.footerCenter a:hover {
  filter: brightness(1.5) drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
  transform: translateY(-5px);
}
