

header img {
    height: 40px;
    padding-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    gap: 12px;;
    margin-left: auto;
    padding-right: 120px;
    color: white;
}


.contact:hover{
   transform: scale(1.2);
}

.pictureSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
    margin-top: 40px;
}