:root{
    --background-color: #06171E;
    --header-color: #09212A;
    --text-color:white;
}


body{
background-color:var(--background-color);
color: var(--text-color);  
}


header {
    background-color: var(--header-color);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header img {
    height: 40px;   
    margin: 0;
    padding-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    gap: 12px;;
    margin-left: auto;
    padding-right: 120px;
}

h1 {
    text-align: center;
    margin-top: 140px;
}

.contact:hover{
   transform: scale(1.2);
}