header img {
  height: 40px;
  padding-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  gap: 12px;
  margin-left: auto;
  padding-right: 120px;
  color: white;
}

.contact:hover {
  transform: scale(1.2);
}

.pictureSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.pictureSerieOne,
.pictureSerieTwo,
.pictureSerieThree {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#picturesOne,
#picturesTwo,
#picturesThree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.picture-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 180px;
}

.picture-button:hover{
    transform: scale(1.1);   
}

.pictureGallery {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
